Body {
    font-family: Calibri, Helvetica, sans-serif;
    color: cornsilk;
    background: linear-gradient(to right, #000000, #1149b1, #000000);
}

.navbar {
    text-align: center;
    padding: 10px;
}

.navbar a {
    text-decoration: none;
    color: rgba(248, 249, 255, 0.911);
    font-size: 20px;
    font-family: sans-serif;
    margin: 40px;
    border: 2px solid transparent;
    padding: 5px;
    transition: 0.5s;
}

.navbar {
    box-sizing: border-box;
    background: linear-gradient(to right, #8dc7ee, #035bff, #42a8ec);
    height: 50px;
}

h2 {
    text-align: center;
}

h1 {
    font-size: 18px;
    color: #ffcece;
}

.navbar a:hover {
    background: rgb(0, 0, 0);
    border-radius: 30%;
}

button {
    background-color: #ff0d21;
    width: 100%;
    color: rgb(255, 230, 0);
    padding: 15px;
    margin: 10px 0px;
    border-radius: 20%;
    cursor: pointer;
}

.form {
    margin-top: 1%;
    margin-right: 30%;
    margin-left: 30%;
}

form {
    border: 3px double #edf794;
    padding: 2%;
}

input[type=text], input[type=password] {
    width: 100%;
    margin: 8px 0;
    padding: 12px 20px;
    display: inline-block;
    border: 2px solid rgb(128, 0, 0);
    box-sizing: border-box;
}

button:hover {
    opacity: 0.7;
}

.cancelbtn {
    width: auto;
    padding: 10px 18px;
    margin: 10px 5px;
}

.container {
    padding: 45px;
    background-color: rgb(230, 182, 173);
}