/* body {
    font-family: Arial, Verdana, sans-serif;
}
h1, h2 {
    color: #ee3e80;
    background-color: blue;
}
p {
    color: #665544;
} */

/* body{
    border: 1px solid black;
    color: blue;
} */

body {
    background-color: hsla(0, 0%, 78%,0.5);
}

a {
    color: red;
}

p {
    border: red 1px solid;
}

body>p {
    border: green 1px solid;
    /* background-color: rgb(128, 92, 196); */
    /* background-color: #805cc4; */
    /* background-color: hsla(90, 100%, 100%, 1); */
}